html,body {
  background-color: blue;/*#2067B2;*/
  font-size: 100%;
}

#wrapper{
  height:     auto;
  min-height: 100%;
  margin-left: 20%;
  width: auto;
}

p {
  width: auto;
  font-size: 1.5em;
  font-family: fixedsys, LucidaTerminal, monospace;
  text-align: left;
  color: white;
}
